Cxfhibernate/WebContent/wsdl/userservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="UserServiceService" targetNamespace="http://service.tut.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.tut.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://service.tut.org/" schemaLocation="userservice_schema1.xsd"/>
</schema>
  </wsdl:types>
  <wsdl:message name="getUserResponse">
    <wsdl:part name="parameters" element="tns:getUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part name="parameters" element="tns:getUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsers">
    <wsdl:part name="parameters" element="tns:getUsers">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEu">
    <wsdl:part name="parameters" element="tns:setEu">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setEuResponse">
    <wsdl:part name="parameters" element="tns:setEuResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEuResponse">
    <wsdl:part name="parameters" element="tns:getEuResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="parameters" element="tns:createUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part name="parameters" element="tns:createUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="parameters" element="tns:deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="parameters" element="tns:deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="tns:getUsersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEu">
    <wsdl:part name="parameters" element="tns:getEu">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="setEu">
      <wsdl:input name="setEu" message="tns:setEu">
    </wsdl:input>
      <wsdl:output name="setEuResponse" message="tns:setEuResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input name="getUser" message="tns:getUser">
    </wsdl:input>
      <wsdl:output name="getUserResponse" message="tns:getUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser">
    </wsdl:input>
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input name="getUsers" message="tns:getUsers">
    </wsdl:input>
      <wsdl:output name="getUsersResponse" message="tns:getUsersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEu">
      <wsdl:input name="getEu" message="tns:getEu">
    </wsdl:input>
      <wsdl:output name="getEuResponse" message="tns:getEuResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input name="createUser" message="tns:createUser">
    </wsdl:input>
      <wsdl:output name="createUserResponse" message="tns:createUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setEu">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setEu">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setEuResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEu">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEu">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEuResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUsers">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUsersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserServiceService">
    <wsdl:port name="UserServicePort" binding="tns:UserServiceServiceSoapBinding">
      <soap:address location="http://localhost:8080/Cxfhibernate/services/UserServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
